<div class="service-area" th:fragment="service-area">
    <div class="container">
        <div class="row row-cols-xl-5 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20">
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service1.png}" th:alt="#{service.delivery_alt}" alt="Service" />
                    </div>
                    <h6 class="title" th:text="#{service.fast_delivery}">Fast &amp; Secure Delivery</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service2.png}" th:alt="#{service.guarantee_alt}" alt="Service" />
                    </div>
                    <h6 class="title" th:text="#{service.product_guarantee}">100% Guarantee On Product</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service3.png}" th:alt="#{service.return_alt}" alt="Service" />
                    </div>
                    <h6 class="title" th:text="#{service.return_policy}">24 Hour Return Policy</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service4.png}" th:alt="#{service.support_alt}" alt="Service" />
                    </div>
                    <h6 class="title" th:text="#{service.quality_support}">Pro Quality Support</h6>
                </div>
            </div>
            <div class="col">
                <div class="service-box">
                    <div class="icon">
                        <img th:src="@{/user/assets/images/icons/service5.png}" th:alt="#{service.quality_alt}" alt="Service" />
                    </div>
                    <h6 class="title" th:text="#{service.next_level_quality}">Next Level Pro Quality</h6>
                </div>
            </div>
        </div>
    </div>
</div>